/* Basic stuff */

body {
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  -ms-overflow-style: none;  /* IE:n ja Edge:n scrollbarit */
  scrollbar-width: none;  /* Firefox:n scrollbarit */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* Just some snapping for mobile */
  background-image: url("img/XR_blur_women.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #faf0da;
}

/* -----------------------------------------------------------------------------------------------------*/
/*Navbar logo area*/
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}


/* Main stuff */
main {
  background-color: transparent;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
            "head head"
            "info info"
            "ruokalista aikataulu";
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
  /*box-shadow: 2px 2px 10px 5px rgb(243, 242, 242);*/

}

/* -----------------------------------------------------------------------------------------------------*/
/* Laatikot */
main > header { /* Otsikko osio */
  grid-area: head;
  /*background-color: rgba(220, 220, 220, 0.8);*/
  margin-top: 20px;
  border-radius: 4px;
  /*box-shadow: 5px 5px 25px 10px rgba(220, 220, 220, 1);*/
}

main > .info { /* Tiedotteet osio */
  grid-area: info;
  background-image: url("img/metropolia_wrapper_single.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  border-radius: 4px;
  opacity: 0.85;
}

main > #hsl-page { /* HSL osio */
  grid-area: aikataulu;
  background-color: #fa9860;
  border-radius: 4px;
  opacity: 0.95;
}

main > #lunch-page { /* Ruokalista osio */
  grid-area: ruokalista;
  background-color: #fa9860;
  border-radius: 4px;
  opacity: 0.95;
}

.lootaOtsikko {
  font-size: 4vh;
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------------------------------------*/
/* Kello */
#clock {
  position: absolute;
  top: 5.5vh;
  left: 65vw;
  text-align: start;
  font-size: 3vw;
}

/* -----------------------------------------------------------------------------------------------------*/
/* Pääotsikko */
#Otsikko {
  font-size: 6vw;
  margin: 0;
  padding: 0;
  text-align: start;
}

#aliOtsikko {
  font-size: 3vw;
  margin: 0;
  padding: 0;
  text-align: start;
}

/* -----------------------------------------------------------------------------------------------------*/
/* Tiedotteet */
.info {
  width: 100%;
  margin: auto;
  height: auto;

}

/* -----------------------------------------------------------------------------------------------------*/
/* HSL-Jutut */
#hsl-page {
  width: 100%;
  /*border: 2px solid;*/
}

#hsl-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
}

#hsl-item {
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  height: auto;
  /*background-color: rgb(246, 244, 244);*/
}

/* -----------------------------------------------------------------------------------------------------*/
/* Ruokalistat tms */
#lunch-page {
  width: 100%;
  margin: auto;
  /*border: 2px solid;*/

}

.container-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.restaurant-box {
  text-align: start;
  padding:10px;
}

#sodexo {
  margin: 0;
  padding: 0;
}

.sodexo-item {
  background-color: rgb(246, 244, 244);
  border-radius: 5px;
  list-style: none;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}
